{% block content %}
<h4>Sending a recommendation or advice to a patient whose baby is not yet tested.</h4> 
<p/>To send a recommendation or advice to an ART Patient registered in our program. Simply follow these steps below:- 
<ol>
<li>Ensure that selected phone number has'+' at the start of the number.(required format is +256XXXXXXXXX)</li>
<li> Enter best suited recommendation for the given patient in the space provided in the body field and click Send Message button.</li>
</ol>
		
{% endblock %}
