{% block content %}
<h4>Sending a recommendation or advice to a patient whose spouse or baby are not yet tested.</h4> 
<p/>To send a recommendation or advice to an ART Patient registered in our program. Simply follow these steps below:- 
<ol>
<li>Copy the patient's telephone number from either Patients' details whose babies are not tested or Patients' details whose spouses are not tested.</li>
<li>Add '+' at the start of the number copied.(required format is +256XXXXXXXXX)</li>
<li> Enter best suited recommendation for the given patient in the space provided in the body field.</li>
<li>Finally click send message button</li>
</ol>
		
{% endblock %}
