{% extends "spouseBabyTestedFeatures/header.html" %}

{% block content %}
  {% if qs %}
  <h4>Patients Records whose babies are not tested</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Phone Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for q in qs %}
            <tr>
              <td>{{ q.id }}</td>
              <td>{{ q.telephone_number}}</td>
              <td>
                <a class="btn btn-default btn-xs" href="/tested/baby_recommendation">Send Recommendation</a>
              </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>

    
  
  {%else%}
  <h4>There are no Patients whose babies are not tested</h4>
  
  {% endif %}
{% endblock %}
