<head>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<div>
	<div id="chart_container"></div>
	<script>
		$(function () {
			$('#chart_container').highcharts({
				chart: {
					type: 'bar'
				},
				title: {
					text: 'Reasons for Calling'
				},
				xAxis: {
					categories: ['HIV/AIDS', 'Other', 'VMMC', 'Reproductive Health', 'Service Inquiry']
				},
				yAxis: {
					title: {
						text: 'frequency distribution'
					}
				},
				series: [{
					name: 'HIV/AIDS',
					data: [{{data_dict.hiv}}, 0, 0, 0, 0],
					pointWidth: 40
				},{
					name: 'Other',
					data: [0, {{data_dict.other}}, 0, 0, 0],
					pointWidth: 40
				},{
					name: 'VMMC',
					data: [0, 0, {{data_dict.vmmc}}, 0, 0],
					pointWidth: 40
				},{
					name: 'Reproductive Health',
					data: [0, 0, 0, {{data_dict.reproductive}}, 0],
					pointWidth: 40
				}, {
					name: 'Service Inquiry',
					data: [0, 0, 0, 0, {{data_dict.inquiry}}],
					pointWidth: 40
				}]
			});
		});
	</script>
</div>